<!-- <div id="carousel-example-generic" class="carousel slide" data-ride =" carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
  </ol>

  <div class="carousel-inner" role="listbox">

    <div class="item active">
        <img src="assets/images/girl2.jpg" class="image-responsive" width="100px" height="100px">     
      <div class="carousel-caption">
        one
      </div>
    </div>

    <div class="item active">
        <img src="assets/images/girl2.jpg" class="image-responsive" width="100px" height="100px">       
        <div class="carousel-caption">
          two
        </div>
    </div>

    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>

     <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

  </div>
</div> -->


<div class="container">
  <app-banner></app-banner>
  <mat-card>
  <div class="row">
    <div class="col-md-3">
    <div class="jumbotron">
      <h3>Category</h3>
      <hr>
            <!-- <div class="row" *ngIf="hasUser">
                <div class="col-md-6"><button mat-button (click)="loginDialog()">login</button></div>
                <div class="col-md-6"><a routerLink='register'><button mat-button >Register</button></a></div>
              </div>  -->
        <ul>
          <li><a mat-button routerLink="">Sedan</a></li>
          <li><a mat-button  routerLink="">SUV</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-9">
       <div class="row">
         <mat-toolbar>Product List</mat-toolbar>
         <hr>
        <div class="col-md-4" *ngFor='let data of list'>
          <div class="banner">
            <a routerLink='/showProduct/{{data.id}}'><img src='{{ data.url }}' class="image-responsive"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>
<app-footer></app-footer>